{% extends 'analysis/base.html' %}
{% load static %}

{% block title %}
プロフィール
{% endblock %}

{% block content %}
<div class="mypage_content_wrapper">
    <div class="row">
        <div class="col-8">
            <div class="row">
                <div class="col-4">
                    <a href="{% url 'analysis:setting' user.pk %}">
                        <button type="button" class="btn btn-info profile-edit">
                            <i class="fas fa-edit"></i>プロフィール編集
                        </button>
                    </a>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-4 pl-5">
                    <img class="thumbnail img-fluid" src="{{ user.thumbnail.url }}">
                </div>
                <div class="col-8">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row" class="pl-0">事業者名</th>
                                <td>{{ user.username }}</td>
                            </tr>
                            <tr>
                                <th scope="row" class="pl-0">登録メールアドレス</th>
                                <td>{{ user.email }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="self_intro_title">紹介文</p>
                    <p class="self_intro_content">{{ user.self_intro | urlize }}</p>
                </div>
            </div>
            <table class="table mypage_detail_table">
                <tbody>
                    <tr>
                        <th scope="row" class="mypage_detail_title">分類項目</th>
                        <td class="mypage_detail_content">{{ user.major_category }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="mypage_detail_title">所在地</th>
                        <td class="mypage_detail_content">{{ user.address }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="mypage_detail_title">電話番号</th>
                        <td class="mypage_detail_content">{{ user.telephone }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="mypage_detail_title">料金</th>
                        <td class="mypage_detail_content">{{ user.entrance_fee }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="mypage_detail_title">祝祭日</th>
                        <td class="mypage_detail_content">{{ user.holiday }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="mypage_detail_title">営業時間</th>
                        <td class="mypage_detail_content">{{ user.business_hours }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-4">
        </div>
    </div>
</div>
{% endblock %}