{% extends 'analysis/base.html' %}
{% load static %}

{% block title %}
プロフィールの変更
{% endblock %}

{% block content %}
<div class="mypage_content_wrapper">
    <form method="post" action="" enctype="multipart/form-data">
    <div class="row">
        {% csrf_token %}
        <div class="col-8">
            <div class="row">
                <div class="col-4 profile-edit-title">
                    <span>プロフィールの編集</span>
                </div>
                <div class="col-4 offset-4">
                    <button type="submit" class="btn btn-info profile-edit">保存</button>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-4 pl-5">
                    <div class="form-group">
                        <p id="preview"></p>
                        <p class="upload">
                            <label>
                                {{ form.thumbnail }}
                                <img id="file_loader" class="button thumbnail img-fluid" src="{{ user.thumbnail.url }}" alt=""/>
                            </label>
                        </p>
                    </div>
                </div>
                <div class="col-8">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row" class="pl-0">事業者名</th>
                                <td>{{ form.username }}</td>
                            </tr>
                            <tr>
                                <th scope="row" class="pl-0">登録メールアドレス</th>
                                <td>{{ user.email }}</td>
                            </tr>
                            <tr>
                                <th scope="row" class="pl-0">電話番号</th>
                                <td>{{ form.telephone }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <table class="table mypage_detail_table">
                <tbody>
                    <tr>
                        <th scope="row" class="mypage_detail_title">言語</th>
                        <td class="mypage_detail_content">日本語</td>
                    </tr>
                    <tr>
                        <th scope="row" class="mypage_detail_title">分類項目</th>
                        <td class="mypage_detail_content">{{ form.major_category }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="mypage_detail_title">説明</th>
                        <td class="mypage_detail_content">{{ form.self_intro }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="mypage_detail_title">所在地</th>
                        <td class="mypage_detail_content">{{ form.address }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="mypage_detail_title">電話番号</th>
                        <td class="mypage_detail_content">{{ form.telephone }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="mypage_detail_title">料金</th>
                        <td class="mypage_detail_content">{{ form.entrance_fee }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="mypage_detail_title">祝祭日</th>
                        <td class="mypage_detail_content">{{ form.holiday }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="mypage_detail_title">営業時間</th>
                        <td class="mypage_detail_content">{{ form.business_hours }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </form>
</div>
{% endblock %}